<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.companyname.rar">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <application android:allowBackup="true"
               android:label="rar"
               android:icon="@mipmap/ic_gear">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service android:name=".VideoRecorderService"
             android:exported="false"
             android:foregroundServiceType="camera|microphone" />
  </application>
</manifest>
